/cover-agent-plugin/.gradle/
/cover-agent-plugin/.idea/
/cover-agent-plugin/build/
/cover-agent-plugin/.java-version
/build/
/.idea/
/.gradle/
/cover-agent-plugin/reports/
/reports/
.codiumai
/test-project/build/
/test-project/run.log
/test-project/test_results.html
